.itemContainer{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 50px;
    background-color: white;
}

.itemContainer > h3{
    margin-top: 20px;
    color: rgb(129, 110, 110);
    text-align: center;
}